.test{
    background-color: #d8f3dc;
    color: #ffffff;
    font-size: 50px;
}
.test2{
    background-color: #b7e4c7;
    color: #ffffff;
    font-size: 50px;
}
.test3{
    background-color: #1b4322;
    color: #ffffff;
    font-size: 50px;
}
.test4{
    background-color: #74c69d;
    color: #ffffff;
    font-size: 50px;
}
.test5{
    background-color: #52b788;
    color: #ffffff;
    font-size: 50px;
}
.test6{
    background-color: #40916c;
    color: #ffffff;
    font-size: 50px;
}
.test7{
    background-color: #2d6a4f;
    color: #ffffff;
    font-size: 50px;
}
.test8{
    background-color: #1b4322;
    color: #ffffff;
    font-size: 50px;
}
